apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: open-cluster-management:submariner-addon:agent
rules:
# Allow submariner-addon agent to run with openshift library-go
- apiGroups: [""]
  resources: ["configmaps"]
  verbs: ["get", "list", "watch"]
# Allow submariner-addon agent to get cloud credations
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["get"]
# Allow submariner-addon agent to get/update nodes
- apiGroups: [""]
  resources: ["nodes"]
  verbs: ["get", "list", "watch", "update", "patch"]
- apiGroups: ["machine.openshift.io"]
  resources: ["machinesets"]
  verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
