apiVersion: submariner.io/v1alpha1
kind: Submariner
metadata:
  name: submariner
  namespace: {{ .InstallationNamespace }}
spec:
  broker: k8s
  brokerK8sApiServer: {{ .BrokerAPIServer }}
  brokerK8sApiServerToken: {{ .BrokerToken }}
  brokerK8sCA: {{ .BrokerCA }}
  brokerK8sRemoteNamespace: {{ .BrokerNamespace }}
  cableDriver: {{ .CableDriver }}
  ceIPSecDebug: false
  ceIPSecNATTPort: {{ .IPSecNATTPort }}
  ceIPSecPSK: {{ .IPSecPSK }}
  clusterCIDR: ""
  globalCIDR: "{{ .GlobalCIDR }}"
  clusterID: {{ .ClusterName }}
  colorCodes: blue
  debug: false
  namespace: {{ .InstallationNamespace }}
  natEnabled: {{ .NATEnabled }}
  serviceCIDR: ""
  serviceDiscoveryEnabled: true
{{- if or .SubmarinerGatewayImage .SubmarinerRouteAgentImage .SubmarinerGlobalnetImage .LighthouseAgentImage .LighthouseCoreDNSImage }}
  imageOverrides:
    {{- if .SubmarinerGatewayImage }}
    submariner-gateway: {{ .SubmarinerGatewayImage }}
    {{- end}}
    {{- if .SubmarinerRouteAgentImage }}
    submariner-route-agent: {{ .SubmarinerRouteAgentImage }}
    {{- end}}
    {{- if .SubmarinerGlobalnetImage }}
    submariner-globalnet: {{ .SubmarinerGlobalnetImage }}
    {{- end}}
    {{- if .SubmarinerNetworkPluginSyncerImage }}
    submariner-networkplugin-syncer: {{ .SubmarinerNetworkPluginSyncerImage }}
    {{- end}}
    {{- if .LighthouseAgentImage }}
    lighthouse-agent: {{ .LighthouseAgentImage }}
    {{- end}}
    {{- if .LighthouseCoreDNSImage }}
    lighthouse-coredns: {{ .LighthouseCoreDNSImage }}
    {{- end}}
{{- end}}
  repository: registry.redhat.io/rhacm2
  version: v0.13.1
