apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Basic Install
    operators.operatorframework.io/builder: operator-sdk-v1.1.0
    operators.operatorframework.io/project_layout: go
  name: submariner-addon.v0.4.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - kind: SubmarinerConfig
      name: submarinerconfigs.submarineraddon.open-cluster-management.io
      version: v1alpha1
    - kind: SubmarinerDiagnoseConfig
      name: submarinerdiagnoseconfigs.submarineraddon.open-cluster-management.io
      version: v1alpha1
  description: An integration between ACM and Submariner.
  displayName: Submariner Addon
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - create
          - get
          - list
          - watch
          - delete
          - update
        - apiGroups:
          - ""
          resources:
          - pods
          verbs:
          - get
        - apiGroups:
          - apps
          resources:
          - replicasets
          verbs:
          - get
        - apiGroups:
          - ""
          - events.k8s.io
          resources:
          - events
          verbs:
          - create
          - patch
          - update
        - apiGroups:
          - ""
          resources:
          - namespaces
          - serviceaccounts
          verbs:
          - create
          - get
          - list
          - watch
          - update
          - patch
          - delete
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - roles
          verbs:
          - create
          - get
          - list
          - watch
          - update
          - patch
          - delete
          - bind
          - escalate
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - clusterroles
          verbs:
          - create
          - get
          - delete
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - rolebindings
          verbs:
          - create
          - get
          - list
          - watch
          - update
          - patch
          - delete
        - apiGroups:
          - apiextensions.k8s.io
          resources:
          - customresourcedefinitions
          - customresourcedefinitions/finalizers
          verbs:
          - create
          - get
          - list
          - watch
          - update
          - patch
          - delete
        - apiGroups:
          - submariner.io
          resources:
          - brokers
          verbs:
          - create
          - get
          - update
          - delete
        - apiGroups:
          - ""
          resources:
          - secrets
          verbs:
          - create
          - get
          - list
          - watch
        - apiGroups:
          - cluster.open-cluster-management.io
          resources:
          - managedclusters
          - managedclustersets
          verbs:
          - get
          - list
          - watch
          - update
          - patch
        - apiGroups:
          - work.open-cluster-management.io
          resources:
          - manifestworks
          verbs:
          - create
          - get
          - list
          - watch
          - update
          - patch
          - delete
        - apiGroups:
          - config.openshift.io
          resources:
          - apiservers
          - infrastructures
          - infrastructures/status
          verbs:
          - get
        - apiGroups:
          - submarineraddon.open-cluster-management.io
          resources:
          - submarinerconfigs
          verbs:
          - get
          - list
          - watch
          - update
          - patch
        - apiGroups:
          - submarineraddon.open-cluster-management.io
          resources:
          - submarinerconfigs/status
          verbs:
          - update
          - patch
        - apiGroups:
          - addon.open-cluster-management.io
          resources:
          - addondeploymentconfigs
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - addon.open-cluster-management.io
          resources:
          - clustermanagementaddons
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - addon.open-cluster-management.io
          resources:
          - clustermanagementaddons/finalizers
          verbs:
          - update
        - apiGroups:
          - addon.open-cluster-management.io
          resources:
          - managedclusteraddons
          verbs:
          - get
          - list
          - watch
          - patch
          - update
        - apiGroups:
          - addon.open-cluster-management.io
          resources:
          - managedclusteraddons/finalizers
          verbs:
          - update
        - apiGroups:
          - addon.open-cluster-management.io
          resources:
          - managedclusteraddons/status
          verbs:
          - patch
          - update
        - apiGroups:
          - certificates.k8s.io
          resources:
          - certificatesigningrequests
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - certificates.k8s.io
          resources:
          - certificatesigningrequests/approval
          verbs:
          - update
          - patch
        - apiGroups:
          - certificates.k8s.io
          resourceNames:
          - kubernetes.io/kube-apiserver-client
          resources:
          - signers
          verbs:
          - approve
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - delete
        serviceAccountName: submariner-addon
      deployments:
      - name: submariner-addon
        spec:
          replicas: 1
          selector:
            matchLabels:
              app: submariner-addon
          strategy: {}
          template:
            metadata:
              labels:
                app: submariner-addon
            spec:
              containers:
              - args:
                - /submariner
                - controller
                env:
                - name: POD_NAME
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.name
                image: quay.io/stolostron/submariner-addon:latest
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: 8443
                    scheme: HTTPS
                  initialDelaySeconds: 2
                  periodSeconds: 10
                name: submariner-addon
                readinessProbe:
                  httpGet:
                    path: /healthz
                    port: 8443
                    scheme: HTTPS
                  initialDelaySeconds: 2
                resources:
                  limits:
                    memory: 270Mi
                  requests:
                    cpu: 100m
                    memory: 128Mi
              serviceAccountName: submariner-addon
    strategy: deployment
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - open-cluster-management
  - submariner-addon
  links:
  - name: Submariner Addon
    url: https://github.com/stolostron/submariner-addon
  maintainers:
  - email: jqiu@redhat.com
    name: Jian Qiu
  - email: zyin@redhat.com
    name: Zhiwei Yin
  - email: wliu1@redhat.com
    name: Wei Liu
  maturity: alpha
  provider:
    name: Red Hat, Inc.
  replaces: cluster-manager.v0.3.0
  selector:
    matchLabels:
      app: submariner-addon
  version: 0.4.0
