apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Basic Install
    operators.operatorframework.io/builder: operator-sdk-v1.1.0
    operators.operatorframework.io/project_layout: go
  name: submariner-addon.v0.3.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - kind: SubmarinerConfig
      name: submarinerconfigs.submarineraddon.open-cluster-management.io
      version: v1alpha1
  description: An integration between ACM and Submariner.
  displayName: Submariner Addon
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          - namespaces
          - serviceaccounts
          - secrets
          - pods
          verbs:
          - create
          - get
          - list
          - update
          - watch
          - patch
          - delete
        - apiGroups:
          - ""
          - events.k8s.io
          resources:
          - events
          verbs:
          - create
          - patch
          - update
        - apiGroups:
          - apps
          resources:
          - deployments
          - replicasets
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - authorization.k8s.io
          resources:
          - subjectaccessreviews
          verbs:
          - create
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - clusterrolebindings
          - rolebindings
          verbs:
          - create
          - get
          - list
          - update
          - watch
          - patch
          - delete
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - clusterroles
          - roles
          verbs:
          - create
          - get
          - list
          - update
          - watch
          - patch
          - delete
          - escalate
          - bind
        - apiGroups:
          - apiextensions.k8s.io
          resources:
          - customresourcedefinitions
          - customresourcedefinitions/finalizers
          verbs:
          - create
          - get
          - list
          - update
          - watch
          - patch
          - delete
        - apiGroups:
          - cluster.open-cluster-management.io
          resources:
          - managedclusters
          - managedclustersets
          verbs:
          - get
          - list
          - watch
          - update
          - patch
        - apiGroups:
          - work.open-cluster-management.io
          resources:
          - manifestworks
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - config.openshift.io
          resources:
          - apiservers
          - infrastructures
          - infrastructures/status
          verbs:
          - get
        - apiGroups:
          - submarineraddon.open-cluster-management.io
          resources:
          - submarinerconfigs
          verbs:
          - get
          - list
          - watch
          - update
          - patch
        - apiGroups:
          - submarineraddon.open-cluster-management.io
          resources:
          - submarinerconfigs/status
          verbs:
          - update
          - patch
        serviceAccountName: submariner-addon
      deployments:
      - name: submariner-addon
        spec:
          replicas: 1
          selector:
            matchLabels:
              app: submariner-addon
          strategy: {}
          template:
            metadata:
              labels:
                app: submariner-addon
            spec:
              containers:
              - args:
                - /submariner
                - controller
                image: quay.io/open-cluster-management/submariner-addon:latest
                imagePullPolicy: IfNotPresent
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: 8443
                    scheme: HTTPS
                  initialDelaySeconds: 2
                  periodSeconds: 10
                name: submariner-addon
                readinessProbe:
                  httpGet:
                    path: /healthz
                    port: 8443
                    scheme: HTTPS
                  initialDelaySeconds: 2
                resources:
                  requests:
                    cpu: 100m
                    memory: 128Mi
              serviceAccountName: submariner-addon
    strategy: deployment
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - open-cluster-management
  - submariner-addon
  links:
  - name: Submariner Addon
    url: https://github.com/open-cluster-management/submariner-addon
  maintainers:
  - email: jqiu@redhat.com
    name: Jian Qiu
  - email: zyin@redhat.com
    name: Zhiwei Yin
  - email: wliu1@redhat.com
    name: Wei Liu
  maturity: alpha
  provider:
    name: Red Hat, Inc.
  selector:
    matchLabels:
      app: submariner-addon
  version: 0.3.0
