apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: endpoints.submariner.io
  ownerReferences:
  - apiVersion: apiextensions.k8s.io/v1beta1
    controller: true
    blockOwnerDeletion: true
    kind: CustomResourceDefinition
    name: submarinerconfigs.submarineraddon.open-cluster-management.io
    uid: {{ .ConfigCRDUID }}
spec:
  group: submariner.io
  names:
    kind: Endpoint
    listKind: EndpointList
    plural: endpoints
    singular: endpoint
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              backend:
                type: string
              backend_config:
                additionalProperties:
                  type: string
                type: object
              cable_name:
                type: string
              cluster_id:
                type: string
              healthCheckIP:
                type: string
              hostname:
                type: string
              nat_enabled:
                type: boolean
              private_ip:
                type: string
              public_ip:
                type: string
              subnets:
                items:
                  type: string
                type: array
            required:
            - backend
            - cable_name
            - cluster_id
            - hostname
            - nat_enabled
            - private_ip
            - public_ip
            - subnets
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
